.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 175px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#nav-btn {
  float: right;
  margin-top: -20px;
}

#nav-btn button {
  padding: 5px 30px;
  font-size: 130%;
  float: right;
  margin-left: 10px;
}

#nav-btn div {
  float: right;
}

#login-btn {
  background-color: #fff;
  color: #d9534f;
  border-color: #d9534f;
}

#login-btn:hover {
  background-color: #d9534f;
  color: #fff;
}

#brand {
  margin-bottom: -10px;
  margin-top: 25px;
  float: left;
}

/* =========================================== */
/* ============== FORM STYLES ================ */
/* =========================================== */

.form-div {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  height: 440px;
  padding: 15px 25px 10px 0;
  overflow: auto;
}

.show-grid {
  margin-top: 30px;
}

input, textarea {
  width: 100%;
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
}

textarea {
  height: 150px;
}

.imgTime {
  height: 150px;
}

.submitButton{
  float: left;
  border-radius: 10px;
  margin-right: 5px;
}

.previewText {
  text-align: left;
}

.modal-btn {
  margin-top: 40px;
}

#login input {
  margin-bottom: 10px;
}

#submit-btn {
  background-color: #0000ff;
  color: #fff;
}

ul {
  list-style: none;
  text-align: left;
}
