body {
  background-image: linear-gradient(rgba(100, 50, 50, 1), rgba(100, 50, 50, 0.3)), url(./bikerack.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

